@import 'tailwindcss';
@import '../lib/styles/dashboard.css';

@utility scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility font-data {
	font-family: var(--font-data);
}
